<style>
  pre {white-space: normal; padding: 10px; margin: 10px;}
  <%= @style %>
</style>
<h1>Testando</h1>



<pre>
<%= @json.to_json.html_safe %>
</pre>
<pre>
<%= @json['photos'][0]['tags'][0]['eye_left']['x'] %>
</pre>



<div id="content_demo_image" style="width: 480px;">
  <div class="image_wrapper">
    <img alt="face detection results" src="<%= @json['photos'][0]['url'] %>">

    <div class="api_face" data-hasqtip="true" aria-describedby="qtip-0">
      <div class="api_face_inner">
        <div class="api_face_inner_tid" name="<%= @json['photos'][0]['tags'][0]['tid'] %>"></div>
      </div>
    </div>
    <span class="api_face_point eye_left" title="<%= @eye_left[0]['title'] %>%"></span>
    <span class="api_face_point eye_right" title="<%= @eye_right[0]['title'] %>%"></span>
    <span class="api_face_point mouth" title="<%= @mouth_center[0]['title'] %>%"></span>
    <span class="api_face_point nose" title="<%= @nose[0]['title'] %>%"></span>
  </div>
</div>
